@model ProjetoTCC.Models.Login
@{
    ViewBag.Title = "Home Page";
}
<br />

@using (Html.BeginForm("VerificarLogin", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Quem é você?</legend>
        <div>
            @Html.LabelFor(m => m.LOGIN) @* Criação de rotulo Usuário *@
        </div>
        <div>
            @Html.TextBoxFor(m => m.LOGIN) @* caixa de texto *@
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.LOGIN, "", new { @class = "text-danger" })
            <!--mensagem de erro na cor vermelha -->
        </div>
        <div>
            @Html.LabelFor(m => m.SENHA)
        </div>
        <div>
            @Html.PasswordFor(m => m.SENHA)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.SENHA, "", new { @class = "text-danger" }) <!--mensagem de erro -->
        </div>
        <br>
        <div>
            <input type="submit" name="btnEnviar" value="Login" />
        </div>

    </fieldset>
    <!-- inserindo scripts para validação -->
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}




