@model IEnumerable<ProjetoTCC.Models.Anamneses>

@{
    ViewData["Title"] = "ListaAnamneses";
}

<h2>ListaAnamneses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COD_ANAMNESES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COD_PAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_ANAMNESES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESC_ANAMNESES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FATOSIMPO_ANAMNESES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COD_MED)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_ANAMNESES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_PAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_ANAMNESES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESC_ANAMNESES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FATOSIMPO_ANAMNESES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_MED)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarAnamneses", new { id=item.COD_ANAMNESES }) |
                @Html.ActionLink("Detalhes", "DetalhesAnamneses", new { id = item.COD_ANAMNESES }) |
                @Html.ActionLink("Deletar", "DeletarAnamneses", new { id = item.COD_ANAMNESES })
            </td>
        </tr>
}
    </tbody>
</table>
