@model ProjetoTCC.Models.Paciente

@{
    ViewData["Title"] = "DetalhesPaciente";
}

<h2>DetalhesPaciente</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_PAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COD_PAC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOME_PAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOME_PAC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DATANASC_PAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DATANASC_PAC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SEXO_PAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEXO_PAC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDADE_PAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDADE_PAC)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "EditarPaciente", new { id = Model.COD_PAC }) |
    <a asp-action="ListaPaciente">Voltar para lista</a>
</div>
