@model ProjetoTCC.Models.Funcionario

@{
    ViewData["Title"] = "DetalhesFuncionario";
}

<h2>DetalhesFuncionario</h2>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cod_func)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cod_func)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome_func)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome_func)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tel_func)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tel_func)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cel_func)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cel_func)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email_func)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email_func)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cargo_func)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cargo_func)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
