@model IEnumerable<ProjetoTCC.Models.Agenda>

@{
    ViewData["Title"] = "ListaAgenda";
}

<h2>ListaAgenda</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COD_AGENDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIA_CONSULTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORA_CONSULTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONFIRMACAO_AGENDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OBS_AGENDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESP_AGENDAMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_RETORNO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_AGENDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIA_CONSULTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HORA_CONSULTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONFIRMACAO_AGENDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OBS_AGENDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESP_AGENDAMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_RETORNO)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarAgenda", new { id=item.COD_AGENDA }) |
                @Html.ActionLink("Detalhes", "DetalhesAgenda", new { id = item.COD_AGENDA }) |
                @Html.ActionLink("Deletar", "DeletarAgenda", new { id = item.COD_AGENDA })
            </td>
        </tr>
}
    </tbody>
</table>
