@model ProjetoTCC.Models.Responsavel

@{
    ViewData["Title"] = "DetalhesResponsavel";
}

<h2>DetalhesResponsavel</h2>

<div>
    <h4>Responsavel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_RESP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COD_RESP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOME_RESP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOME_RESP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RESP_DOIS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RESP_DOIS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COD_END)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COD_END)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TEL_RESP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TEL_RESP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TEL_DOIS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TEL_DOIS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEL_RESP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEL_RESP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_RESP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMAIL_RESP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPF_RESP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF_RESP)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "EditarResponsavel", new { id = Model.COD_RESP }) |
    <a asp-action="Index">Voltar para a lista</a>
</div>
