@model IEnumerable<ProjetoTCC.Models.Responsavel>

@{
    ViewData["Title"] = "ListaResponsavel";
}

<h2>ListaResponsavel</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COD_RESP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOME_RESP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESP_DOIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COD_END)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEL_RESP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEL_DOIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEL_RESP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL_RESP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF_RESP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_RESP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOME_RESP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESP_DOIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_END)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL_RESP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL_DOIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEL_RESP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_RESP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_RESP)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarResposavel", new { id=item.COD_RESP }) |
                @Html.ActionLink("Detalhes", "DetalhesResponsavel", new { id = item.COD_RESP }) |
                @Html.ActionLink("Deletar", "DeletarResponsavel", new { id = item.COD_RESP })
            </td>
        </tr>
}
    </tbody>
</table>
